<form method="post" class="d-inline" action="{{ path('examplar_delete', {'id': examplar.id}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer cet exemplaire?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ examplar.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
