{% extends 'base.html.twig' %}

{% block title %}Modification de l'exemplair{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Modifier l'exemplaire
        </div>
        <div class="card-body">
            {{ include('examplar/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>

{% endblock %}
