{% extends 'base.html.twig' %}

{% block title %}Exemplaires{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Exemplaires
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Isbn</th>
                    <th>Livre</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for examplar in examplars %}
                    <tr>
                        <td>{{ examplar.isbn }}</td>
                        <td>{{ examplar.book.title }}</td>
                        <td>
                            <a href="{{ path('examplar_edit', {'id': examplar.id}) }}" class="btn btn-info">Modifier</a>
                            {{ include('examplar/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun exemplaire trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('examplar_new') }}" class="btn btn-success">Creéer un nouveau exemplaire</a>
        </div>
    </div>


{% endblock %}
