{% extends 'base.html.twig' %}

{% block title %}Nouveau exemplaire{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Créer un nouveau exemplaire
        </div>
        <div class="card-body">
            {{ include('examplar/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
