<form method="post" action="{{ path('student_delete', {'id': student.id}) }}" onsubmit="return confirm('Etes vous vraiment sur de supprimer cet éleve?');" style="display: inline-block;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button class="btn btn-danger">supprimer</button>
</form>
