<div class="container">
    {{ form_start(formStudent) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(formStudent.firstName,{'attr': { 'placeholder' : "votre prenom ...."}}) }}</div>
        <div class="col-md-4"> {{ form_row(formStudent.lastName,{'attr': { 'placeholder' : "votre nom ...."}}) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(formStudent.level) }}</div>
        <div class="col-md-5">{{ form_row(formStudent.born_at) }}</div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('student_index') }}" class="btn btn-primary">retour a la liste des éleves</a>
    {{ form_end(formStudent) }}
</div>





