{% extends 'base.html.twig' %}

{% block title %}Editer Eleve{% endblock %}

{% block body %}
    <h3>Modifier les informations de l'eleve</h3>

    {{ include('student/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
