{% extends 'base.html.twig' %}

{% block title %}Liste des élèves{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="text-center">Liste des  élèves</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénoms</th>
                <th>Noms</th>
                <th>Date de Naissance</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.bornAt ? student.bornAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ student.level.name }}</td>
                <td>
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-secondary">Editer</a>
                    {{ include('student/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'etudiants trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="text-right">
    <a href="{{ path('student_new') }}"class="btn btn-primary">Ajouter un Eleve</a>
</div>
{% endblock %}
