<form method="post" action="{{ path('level_delete', {'id': level.id}) }}" onsubmit="return confirm('Etes vous vraiment sur de supprimer ce level?');" style="display: inline-block;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ level.id) }}">
    <button class="btn btn-danger mt-2">supprimer</button>
</form>
