<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ form_start(formLevel) }}

            {{ form_row(formLevel.name,{'attr': { 'placeholder' : "nom du Level"}}) }}
            <br>
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            <a href="{{ path('level_index') }}" class="btn btn-primary">Revenir a la Liste</a>
            {{ form_end(formLevel) }}
        </div>
    </div>
</div>

