{% extends 'base.html.twig' %}

{% block title %}Editer Level{% endblock %}

{% block body %}
    <h1>Editer un  Level</h1>

    {{ include('level/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
