{% extends 'base.html.twig' %}

{% block title %}Liste des Levels{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="text-center"> Liste des Levels</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de Créations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for level in levels %}
            <tr>
                <td>{{ level.name }}</td>
                <td>{{ level.createdAt ? level.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('level_edit', {'id': level.id}) }}" class="btn btn-secondary mt-2">editer</a>
                    {{ include('level/_delete_form.html.twig') }}
                    <a href="{{ path('level_show', {'id': level.id}) }}" class="btn btn-primary mt-2">ListeDesEtudiants</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de Levels Trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="text-right">
    <a href="{{ path('level_new') }}" class="btn btn-primary">Ajouter un level</a>
</div>

{% endblock %}
