{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants de cette classe{% endblock %}

{% block body %}
    <h3>Level : {{ level.name }}</h3>
    <br>
    <span class="text-center h4"><caption>Liste des éleves</caption></span>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table  table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Prénoms</th>
                        <th>Noms</th>
                        <th>Date de Naissance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for level in level.students %}
                    <tr>
                        <td>{{ level.getFirstName() }}</td>
                        <td>{{ level.LastName() }}</td>
                        <td>{{ level.getBornAt() | date('d/m/Y') }}</td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Pas d'etudiants trouvés</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<div class="text-left ml-3">
    <a href="{{ path('level_index') }}" class="btn btn-primary">retour a liste des levels</a>
</div>

{% endblock %}
