{% extends 'base.html.twig' %}

{% block title %}Edit Penality{% endblock %}

{% block body %}
    <h1>Edit Penality</h1>

    {{ include('penality/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('penality_index') }}">back to list</a>

    {{ include('penality/_delete_form.html.twig') }}
{% endblock %}
