{% extends 'base.html.twig' %}

{% block title %}Penality index{% endblock %}

{% block body %}
    <h1>Penality index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for penality in penalities %}
            <tr>
                <td>{{ penality.id }}</td>
                <td>{{ penality.user }}</td>
                <td>{{ penality.Description }}</td>
                <td>
                    <a href="{{ path('penality_show', {'id': penality.id}) }}">show</a>
                    <a href="{{ path('penality_edit', {'id': penality.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('penality_new') }}">Create new</a>
{% endblock %}
