{% extends 'base.html.twig' %}

{% block title %}New Penality{% endblock %}

{% block body %}
    <h1>Create new Penality</h1>

    {{ include('penality/_form.html.twig') }}

    <a href="{{ path('penality_index') }}">back to list</a>
{% endblock %}
