{% extends 'base.html.twig' %}

{% block title %}Penality{% endblock %}

{% block body %}
    <h1>Penality</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ penality.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ penality.user }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ penality.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('penality_index') }}">back to list</a>

    <a href="{{ path('penality_edit', {'id': penality.id}) }}">edit</a>

    {{ include('penality/_delete_form.html.twig') }}
{% endblock %}
