<form method="post" class="d-inline" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer ce livre?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
