{% extends 'base.html.twig' %}

{% block title %}Modification de livre{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Modifier le livre
        </div>
        <div class="card-body">
            {{ include('book/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
{% endblock %}
