{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Livres
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>
                            <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-info">edit</a>
                            {{ include('book/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun livfre trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('book_new') }}" class="btn btn-success">Ajouter un nouveau livre</a>
        </div>
    </div>



{% endblock %}
