{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Ajouter un nouvea livre
        </div>
        <div class="card-body">
            {{ include('book/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
