<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/select2.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container mt-4">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="/assets/js/jquery.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/select2.full.min.js"></script>
        {% endblock %}
    </body>
</html>
