{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.student) }}</div>
    <div class="col-md-4">{{ form_row(form.examplar) }}</div>
    <div class="col-md-4">{{ form_row(form.begin) }}</div>
</div>
    {{ form_rest(form) }}
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
