{% extends 'base.html.twig' %}

{% block title %}Edit Lease{% endblock %}

{% block body %}
    <h1>Edit Lease</h1>
    <br>
    <alert class="alert alert-warning">
        Mettre fin la location de <strong>{{ lease.student.firstName }} {{ lease.student.lastName }}</strong> qui a débuté le <strong>{{ lease.begin ? lease.begin|date('Y-m-d') : '' }}</strong> ?
    </alert>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.end) }}</div>
    </div>
    {{ form_rest(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('lease_index') }}">back to list</a>

    {{ include('lease/_delete_form.html.twig') }}
{% endblock %}
