{% extends 'base.html.twig' %}

{% block title %}Lease index{% endblock %}

{% block body %}
    <h1>Liste des locations</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Eleve</th>
            <th>Livre</th>
            <th>Début</th>
            <th>Fin</th>
            <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lease in leases %}
            <tr>
                <td>{{ lease.user.name }}</td>
                <td>{{ lease.student.firstName }} {{ lease.student.lastName }}</td>
                <td>{{ lease.examplar.book.title }}</td>
                <td>{{ lease.begin ? lease.begin|date('Y-m-d') : '' }}</td>
                <td>{% if lease.end is not null %}{{ lease.end ? lease.end|date('Y-m-d') : '' }}{% else %} En cours{% endif %}</td>
                <td>
                    {% if lease.end is null %}<a href="{{ path('lease_edit', {'id': lease.id}) }}">Terminer</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lease_new') }}">Nouvelle Location</a>
{% endblock %}
