{% extends 'base.html.twig' %}

{% block title %}New Lease{% endblock %}

{% block body %}
    <h1>Démarrer une location</h1>

    {{ include('lease/_form.html.twig') }}

    <a href="{{ path('lease_index') }}">Retour à la liste de location</a>
{% endblock %}
