{% extends 'base.html.twig' %}

{% block title %}Lease{% endblock %}

{% block body %}
    <h1>Lease</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lease.id }}</td>
            </tr>
            <tr>
                <th>Begin</th>
                <td>{{ lease.begin ? lease.begin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ lease.end ? lease.end|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ lease.createdAt ? lease.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lease_index') }}">back to list</a>

    <a href="{{ path('lease_edit', {'id': lease.id}) }}">edit</a>

    {{ include('lease/_delete_form.html.twig') }}
{% endblock %}
