{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.name) }}</div>
    <div class="col-md-4">{{ form_row(form.email) }}</div>
    <div class="col-md-4">{{ form_row(form.password) }}</div>
</div>
{{ form_rest(form) }}
<div style="display: inline-block">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
