{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h3>Modifier utilisateur</h3>
        </div>
        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
        <a class="btn btn-success" href="{{ path('user_index') }}">retour à la liste</a>
    </div>
    </div>
{% endblock %}
