{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h3>Utilisateur</h3>
        </div>

        {% if app.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Se déconnecter</a>
                </li>
            </ul>
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if admin %}
                    {% if admin != user.id %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <!--<a href="{{ path('user_show', {'id': user.id}) }}">show</a>-->
                                <a class="btn btn-secondary" href="{{ path('user_edit', {'id': user.id}) }}">Editer</a>
                                <form method="post" action="{{ path('user_delete', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous sûr de vouloir supprimé ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a class="btn btn-primary" href="{{ path('user_new') }}">Créer nouveau utilisateur</a>
        </div>
    </div>
{% endblock %}
